@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap");

:root {
    --var-Light-Cyan: hsl(193, 38%, 86%);
    --varNeonGreen: hsl(150, 100%, 66%);
    --varGrayishBlue: hsl(217, 19%, 38%);
    --varDarkgrayishblue: hsl(217, 19%, 24%);
    --varDarkBlue: hsl(218, 23%, 16%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Manrope", sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    background-color: hsl(218, 23%, 16%);
}

main {
    display: flex;
    flex-direction: column;
    background-color: var(--varDarkgrayishblue);
    border-radius: 1rem;
    height: 332px;
    width: 540px;
    position: absolute;
}

h1 {
    color: var(--varNeonGreen);
    font-size: 10px;
    text-align: center;
    margin-top: 2rem;
    letter-spacing: 2px;
}

.message {
    color: var(--var-Light-Cyan);
    text-align: center;
    margin: 2rem auto;
    font-size: 1.1rem;
    width: 440px;
    height: 144px;
}

.img-pattern-desktop {
    width: 80%;
    margin: 0 auto;
}

.dice {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    background-color: var(--varNeonGreen);
    position: relative;
    bottom: -180px;
}

.dice:hover {
    box-shadow: 0px 0px 50px 0px rgba(82, 255, 168, 1);
}

@media (max-width: 550px) {
    main {
        width: 342px;
        height: 315px;
    }

    .message {
        width: 300px;
        height: 130px;
        font-size: 0.9rem;
    }

    .dice {
        bottom: -160px;
    }
}
